.navbar {
    .menu {
        .list {
            li:nth-child(3) {
                a {
                    font-weight: 900;
                }
            }
        }
    }
}

.achievements {
    margin-top: 50px;
    width: 100%;
    /* height: 200vh; */
}

.achievements-heading {
    height: max-content;
    width: 100%;
}

.achievements-heading h1 {
    font-family: 'NewTitle-Regular';
    display: grid;
    place-content: center;
    border-bottom: 1px solid var(--line);
    font-size: clamp(6rem, 40vw, 16rem);
    font-weight: 550;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
}

.est {
    display: flex;
    justify-content: center;
    align-items: center;
}

.est p {
    padding: 15px;
    border-bottom: 1px solid var(--line);
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
    font-weight: 500;
    color: var(--text-color);
}

.achievements-content {
    width: 100%;
    height: max-content;
    overflow: hidden;

    h2 {
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .achievements-text {
        margin: auto;
        text-align: center;
        padding: 5rem;
        width: 50vw;
        font-size: 1.2rem;
        font-weight: 200;

        a {
            color: var(--text-color);
            font-weight: 500;
        }
    }

    .achievements-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        height: max-content;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border: 1px solid var(--line);
            background-color: var(--bg-color);
            height: 100%;

            .card-image {
                width: 100%;
                height: 100%;
                border: 1px solid var(--line);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 120ms ease-in-out;

                    &:hover {
                        transition: transform 120ms ease-in-out;
                        transform: scale(0.9, 0.8);
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {

    .achievements-heading h1 {
        font-size: 7rem;
    }

    .achievements-content {
        h2 {
            font-size: 2.5rem;
        }

        .achievements-text {
            text-align: start;
            width: 80vw;
            padding: 3rem 0.5rem;
        }

        .achievements-cards {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            height: auto;

            .card {
                padding: 0.5rem;
            }
        }
    }
}

/* skills */
.skills {
    height: max-content;
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;

    h3 {
        font-size: 2rem;
        padding: 1rem 0;
    }

    li {
        list-style: none;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        .progress-bar {
            width: 100%;
            height: 15px;
            margin-top: 0.5rem;
            border: 1px solid var(--line);
            box-sizing: border-box;
            padding: 2.5px;

            .progress {
                height: 100%;
                background-color: var(--progress);
            }
        }
    }

    .all-skills {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
        overflow: hidden;

        .development,
        .design,
        .programming {
            width: 300px;
            margin-bottom: 1rem;
        }

        .development-skills,
        .design-skills {
            width: 100%;
        }

        .development {
            .html .progress {
                width: 95%;
            }

            .css .progress {
                width: 90%;
            }

            .js .progress {
                width: 85%;
            }

            .nodejs .progress {
                width: 95%;
            }

            .reactjs .progress {
                width: 80%;
            }

            .django .progress {
                width: 90%;
            }

            .mysql .progress {
                width: 85%;
            }

            .bootstrap .progress {
                width: 95%;
            }
        }

        .design {
            .figma .progress {
                width: 95%;
            }

            .ai .progress {
                width: 80%;
            }
        }

        .programming {
            .c .progress {
                width: 95%;
            }

            .python .progress {
                width: 95%;
            }
        }
    }
}

@media (max-width: 768px) {
    .skills {
        padding: 1rem;
    }

    .skills h3 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    .skills li {
        font-size: 1rem;
    }

    .all-skills {
        flex-direction: column;
        align-items: center;
    }

    .development,
    .design,
    .programming {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .skills {
        padding: 0.5rem;
    }

    .skills h3 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    .skills li {
        font-size: 0.9rem;
    }

    .all-skills {
        flex-direction: column;
        align-items: center;
    }

    .development,
    .design,
    .programming {
        width: 100%;
    }
}