@font-face {
  font-family: 'NewTitle-Regular';
  src: url('../fonts/NewTitle_Complete/Fonts/WEB/fonts/NewTitle-Regular.woff2') format('woff2'),
       url('../fonts/NewTitle_Complete/Fonts/WEB/fonts/NewTitle-Regular.woff') format('woff'),
       url('../fonts/NewTitle_Complete/Fonts/WEB/fonts/NewTitle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* .dark-theme {
  --logo-bg-color: #f7f7f7;
  --logo-text-color: #000;
  --bg-color: #000;
  --text-color: #f7f7f7;
  --side_menu-bg-color: #212529;
  --gradient1: #cecdcd9c;
  --gradient2: #cecdcd9c;
  --line: #f7f7f74d;
  --progress: #f7f7f7;
} */

.dark-theme {
  --logo-bg-color: #83e5b6;
  --logo-text-color: #135d66;
  --nav-bg-color: #135d66;
  --nav-text-color: #83e5b6;
  --bg-color: #003c44;
  --text-color: #83e5b6;
  --footer-bg-color: #135d66;
  --side_menu-text-color: #135d66;
  --side_menu-bg-color: #3ec9ac;
  --line: #77b0aa;
  --review: #135d66;
  --progress: #83e5b6;
}

.light-theme {
  --logo-bg-color: #28343a;
  --logo-text-color: #f4eddf;
  --nav-bg-color: #f4eddf;
  --nav-text-color: #28343a;
  --bg-color: #d8cfb8;
  --text-color: #28343a;
  --footer-bg-color: #f4eddf;
  --side_menu-text-color: #f4eddf;
  --side_menu-bg-color: #28343a;
  --line: #77b0aa;
  --review: #f4eddf;
  --progress: #28343a;
}

/* .light-theme {
  --logo-bg-color: #000;
  --logo-text-color: #f7f7f7;
  --bg-color: #f7f7f7;
  --text-color: #000;
  --side_menu-bg-color: #e7e7e7;
  --gradient1: #0f0f0fc2;
  --gradient2: #0f0f0fc2;
  --line: #0c0c0c4d;
  --progress: #000;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
}