:root {
    /* for footer */
    --footer-text-color: #fff;
    --top-line: 1px solid #f7f7f74d;
}

footer {
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-top: var(--top-line);

    p {
        font-size: 1rem;
        text-align: center;
    }
}