@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.highlights {
    height: 75vh;
    width: calc(100vw - 30px);
    margin: 20px;
    overflow: hidden;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui;
    background: linear-gradient(to top right (var(--bg-color, transparent)));
}

.slider {
    position: relative;
    width: 50%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.item {
    position: absolute;
    width: 300px;
    height: 60vh;
    text-align: justify;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: 39%;

    p {
        padding: 10px 0px;
        font-size: 16px;
    }

    .btn {
        margin: 20px 0px;

        a {
            text-decoration: none;
            color: var(--text-color);
            background-color: var(--bg-color);
            padding: 10px;
            border-radius: 8px;

            &:hover {
                text-decoration: underline var(--text-color) 1px;
            }
        }

    }
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    right: 470px;
    z-index: 3;
}

#next {
    left: unset;
    right: 30px;
}

.highlight-heading {
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;

    h1 {
        padding-bottom: 30px;
        font-size: 50px;

        span {
            color: var(--bg-color);
        }
    }

    p {
        width: 90%;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .highlights {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        justify-content: unset;
    }

    .highlight-heading {
        height: 20%;
        width: 100%;
        justify-content: start;
    }

    .highlight-heading h1 {
        font-size: 28px;
    }

    .highlight-heading p {
        width: 100%;
        font-size: 16px;
    }

    .slider {
        height: 80%;
        width: 100%;
    }

    .item {
        top: 15%;
        height: 60%;
        left: 8%;
    }
}